{#
/**
 * @file
 * Default theme implementation for a User entity tokenlink token.
 *
 * Available variables:
 * - entity: Fully loaded entity (Node/User/Comment).
 * - param: Parameters.
 * - param.url: Token url.
 * - param.title: Token title.
 */
#}

<a href="{{ entity | file_url }}" title="{{ entity.label }}" target="_blank">
  <img src="{{ entity | file_uri | image_style(key) }}" >
</a>


