{#
/**
 * @file
 * Default theme implementation for a User entity tokenlink token.
 *
 * Available variables:
 * - entity: Fully loaded entity (Node/User/Comment).
 * - param: Parameters.
 * - param.url: Token url.
 * - param.title: Token title.
 */
#}
{%
  set options =  {
  'width' : '85%'
}
%}

<a href="{{ base_url }}/media/{{ entity.id }}" title="{{ entity.label }}"
   class="use-ajax"
   data-dialog-type="modal"
   data-dialog-options="{{ options | json_encode }}"
>
  <img src="{{ entity | file_uri | image_style('thumbnail') }}" >
</a>
