{#
/**
 * @file
 * Default theme implementation for a User entity tokenlink token.
 *
 * Available variables:
 * - entity: Fully loaded entity (Node/User/Comment).
 * - param: Parameters.
 * - param.url: Token url.
 * - param.title: Token title.
 */
#}
{%
  set classes = [
  entity.bundle
]
%}

<a href="{{ param.url }}" {{ attributes.addClass(classes) }} > {{ param.title }} </a>
