{#
/**
 * @file
 * Default theme implementation for a User entity tokenlink token.
 *
 * Available variables:
 * - entity: Fully loaded entity (Node/User/Comment).
 * - param: Parameters.
 * - param.url: Token url.
 * - param.title: Token title.
 */
#}

<a href="{{ entity | file_url }}" title="{{ entity.label }}" {{ attributes.addClass(classes) }}   target="_blank">
  {{ drupal_image('public://media-icons/generic/generic.png', 'thumbnail') }}
</a>


